<h1>Course 9 IBM Data Science Profession Week 3 Final</h1>

In [0]:
#Hanya Perlu dijalankan saat Membuka Kernel
#pip install BeautifulSoup4

Requirement already satisfied: BeautifulSoup4 in /usr/local/lib/python3.6/dist-packages (4.6.3)

In [0]:
#Hanya Perlu dijalankan saat membuka Kernel
#pip install lxml

Requirement already satisfied: lxml in /usr/local/lib/python3.6/dist-packages (4.2.6)

In [0]:
#Import masing-masing library
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [0]:
#Bagian ini menampilkan dataframe awal sebelum menjalani pengolahan
res = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))[0]
df

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

In [0]:
#Bertujuan mengdrop baris yang memiliki nilai Borough Not assigned
drop_index = df[df['Borough']=='Not assigned'].index
df.drop(drop_index , inplace = True)
df

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M6A        North York          Lawrence Heights
6        M6A        North York            Lawrence Manor
..       ...               ...                       ...
281      M8Z         Etobicoke  Kingsway Park South West
282      M8Z         Etobicoke                 Mimico NW
283      M8Z         Etobicoke        The Queensway West
284      M8Z         Etobicoke     Royal York South West
285      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

In [0]:
df = df.reset_index()

In [0]:
df = df.drop(columns=['index'])

In [0]:
df

    Postcode           Borough             Neighbourhood
0        M3A        North York                 Parkwoods
1        M4A        North York          Victoria Village
2        M5A  Downtown Toronto              Harbourfront
3        M6A        North York          Lawrence Heights
4        M6A        North York            Lawrence Manor
..       ...               ...                       ...
205      M8Z         Etobicoke  Kingsway Park South West
206      M8Z         Etobicoke                 Mimico NW
207      M8Z         Etobicoke        The Queensway West
208      M8Z         Etobicoke     Royal York South West
209      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

In [0]:
for i in range(210):
  Neigh = df.iloc[i,2]
  Borough = df.iloc[i,1]
  if Neigh == 'Not assigned' :
    df.iat[i,2] = Borough

In [0]:
df.head(n=20)

   Postcode           Borough     Neighbourhood
0       M3A        North York         Parkwoods
1       M4A        North York  Victoria Village
2       M5A  Downtown Toronto      Harbourfront
3       M6A        North York  Lawrence Heights
4       M6A        North York    Lawrence Manor
5       M7A  Downtown Toronto      Queen's Park
6       M9A      Queen's Park      Queen's Park
7       M1B       Scarborough             Rouge
8       M1B       Scarborough           Malvern
9       M3B        North York   Don Mills North
10      M4B         East York  Woodbine Gardens
11      M4B         East York     Parkview Hill
12      M5B  Downtown Toronto           Ryerson
13      M5B  Downtown Toronto   Garden District
14      M6B        North York         Glencairn
15      M9B         Etobicoke        Cloverdale
16      M9B         Etobicoke         Islington
17      M9B         Etobicoke      Martin Grove
18      M9B         Etobicoke  Princess Gardens
19      M9B         Etobicoke   West Deane Park

In [0]:
df = df.groupby('Postcode')['Neighbourhood'].apply(','.join).reset_index()

In [0]:
df

    Postcode                                      Neighbourhood
0        M1B                                      Rouge,Malvern
1        M1C               Highland Creek,Rouge Hill,Port Union
2        M1E                    Guildwood,Morningside,West Hill
3        M1G                                             Woburn
4        M1H                                          Cedarbrae
..       ...                                                ...
98       M9N                                             Weston
99       M9P                                          Westmount
100      M9R  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W                                          Northwest

[103 rows x 2 columns]

In [0]:
df.shape

(103, 2)

To get Lattitude and Longitude Value I will be using csv data cause geocoder doesn't work well for me

In [0]:
df_lat_ling = pd.read_csv("http://cocl.us/Geospatial_data")

In [0]:
df_lat_ling

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

Due to the fact that both the original dataframe and the Longitude and Latitude Dataframe has the same sequence, I will be joining both dataframe without further preperation

In [0]:
lat= df_lat_ling['Latitude']
lon= df_lat_ling['Longitude']

In [0]:
df['Latitude'] = lat

In [0]:
df['Longitude'] = lon

In [0]:
df

    Postcode  ...  Longitude
0        M1B  ... -79.194353
1        M1C  ... -79.160497
2        M1E  ... -79.188711
3        M1G  ... -79.216917
4        M1H  ... -79.239476
..       ...  ...        ...
98       M9N  ... -79.518188
99       M9P  ... -79.532242
100      M9R  ... -79.554724
101      M9V  ... -79.588437
102      M9W  ... -79.594054

[103 rows x 4 columns]

In [0]:
#That's all for the 2nd part see you till the final part