<h1>Course 9 IBM Data Science Profession Week 3 Final</h1>

1. The first thing I did after installing nescecary libraries for web scrapping which is BeautifulSoup4, I imported the dataframe and getting the raw tables in the following output :

In [0]:
#Bagian ini menampilkan dataframe awal sebelum menjalani pengolahan

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

2. The second thing I did was getting rid of Not Assigned Value from Borough coloumns by using drop function from pandas

In [0]:
#Bertujuan mengdrop baris yang memiliki nilai Borough Not assigned

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M6A        North York          Lawrence Heights
6        M6A        North York            Lawrence Manor
..       ...               ...                       ...
281      M8Z         Etobicoke  Kingsway Park South West
282      M8Z         Etobicoke                 Mimico NW
283      M8Z         Etobicoke        The Queensway West
284      M8Z         Etobicoke     Royal York South West
285      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

3. The next thing I did is resetting the index fro the dataframe and then drop the unused index coloumns which has been replaced by the new one

In [0]:
df

    Postcode           Borough             Neighbourhood
0        M3A        North York                 Parkwoods
1        M4A        North York          Victoria Village
2        M5A  Downtown Toronto              Harbourfront
3        M6A        North York          Lawrence Heights
4        M6A        North York            Lawrence Manor
..       ...               ...                       ...
205      M8Z         Etobicoke  Kingsway Park South West
206      M8Z         Etobicoke                 Mimico NW
207      M8Z         Etobicoke        The Queensway West
208      M8Z         Etobicoke     Royal York South West
209      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

4. Fourthly I replacing "Not assigned" value from neighbourhood coloumns with its corresponding Borough value by using for Looping and get function from pandas

In [0]:
df.head(n=20)

   Postcode           Borough     Neighbourhood
0       M3A        North York         Parkwoods
1       M4A        North York  Victoria Village
2       M5A  Downtown Toronto      Harbourfront
3       M6A        North York  Lawrence Heights
4       M6A        North York    Lawrence Manor
5       M7A  Downtown Toronto      Queen's Park
6       M9A      Queen's Park      Queen's Park
7       M1B       Scarborough             Rouge
8       M1B       Scarborough           Malvern
9       M3B        North York   Don Mills North
10      M4B         East York  Woodbine Gardens
11      M4B         East York     Parkview Hill
12      M5B  Downtown Toronto           Ryerson
13      M5B  Downtown Toronto   Garden District
14      M6B        North York         Glencairn
15      M9B         Etobicoke        Cloverdale
16      M9B         Etobicoke         Islington
17      M9B         Etobicoke      Martin Grove
18      M9B         Etobicoke  Princess Gardens
19      M9B         Etobicoke   West Deane Park

5. By using groupby function from the Pandas I can get the following dataframe

In [0]:
df

    Postcode                                      Neighbourhood
0        M1B                                      Rouge,Malvern
1        M1C               Highland Creek,Rouge Hill,Port Union
2        M1E                    Guildwood,Morningside,West Hill
3        M1G                                             Woburn
4        M1H                                          Cedarbrae
..       ...                                                ...
98       M9N                                             Weston
99       M9P                                          Westmount
100      M9R  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W                                          Northwest

[103 rows x 2 columns]

Lastly by applying the shape function I can get the following response :

In [0]:
df.shape

(103, 2)